body {

}

.page {

display: flex;
flex-direction: column;

}

section {

}


header {
margin-top: 50px;
flex: 1;
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;

}

.logo {

}

.page-header {
display: flex;
flex-direction: column;

}

.title {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-size: 50px;
font-weight: 100;
color: #313e46;

}

.sub-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333b41;
  text-align: right;
  margin-top: 10px;

}

.header-line {
  margin-top: 27px;
  height: 4px;
  background-color: #8096ab;
  border: none;
}

.header-image {
  margin-top: 25px;
}

.featured-work_items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}


.featured-work_items .item {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #363e49;

}

.featured-work_items .item > h3 {

text-transform: uppercase;
font-size: 35px;


}

.featured-work_items .item > p {

margin-top: 10px;
font-size: 16px;

}


.featured-work_title {
  list-style: none;
  font-family: 'Varela Round', sans-serif;
  color: #8497a8;
  font-size: 32px;
  font-weight: 100;
  margin-top: 40px;
  margin-bottom: 18px;
  margin-left: 12px;

}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */

  }

  header {
  flex-direction: column;
align-items: center;

  }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */

  }






}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


  body {
background-color: #B2D6FF; /* Blue */

  }




}
